*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  background-color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
  background: #333;
  height: 80px;
  width: 100%;
}
label.logo{
  font-size: 50px;
  line-height: 50px;
  padding: 0 25px;
  font-weight: bold;
  cursor: pointer;
  background:url(https://i.postimg.cc/kV97M9R7/logo.png); 
    -webkit-background-size:cover;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    padding-right: 140px;
    padding-bottom: 35px;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 1px;
}
nav ul li a{
  color: white;
  font-size: 25px;
  padding: 25px 7px;
  font-weight: bold;
  text-transform: uppercase;
}
a.active{
  background: gray;
}
a.active,a:hover{
  color: #333;
  background: gray;
  transition: .1s;
}
.checkbtn{
  font-size: 60px;
  color: darkorange;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 1100px){
  .checkbtn{
    display: block;
  }
  ul{
    position: relative;
    width: 94%;
    height: 120vh;
    background: #333;
    top: 50px;
    left: -100%;
    text-align: center;
    transition: all 1s;
  }
  nav ul li{
    display: block;
    margin: 30px 10px;
    line-height: 70px;
  }
  nav ul li a{
    font-size: 30px;
  }
  a:hover,a.active{
    background: gray;
    color: #333;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

